<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.cart">
	<insert id="insertCart" parameterType="cart">
		insert into cart (userid,gCode,gName,gPrice,gSize,gColor,gAmount,gImage)
		values (#{userid},#{gCode},#{gName},#{gPrice},#{gSize},#{gColor},#{gAmount},#{gImage})
	</insert>
	
	<select id="selectCartList" parameterType="String" resultType="Cart">
		select * from cart where userid=#{userid}
	</select>
	
	<select id="selectCheckCart" parameterType="list" resultType="Cart">
		select * from cart where num in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="selectCart" parameterType="Integer" resultType="Cart">
		select * from cart where num=#{num}
	</select>	
	
	<delete id="delectMultiCart" parameterType="List">
		delete from cart where num in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteCart" parameterType="Integer">
		delete from cart where num=#{num}
	</delete>
	
	<update id="updateCart" parameterType="Map">
		update cart set gAmount=#{gAmount} where num=#{num}
	</update>
	
	<insert id="insertOrder" parameterType="order" useGeneratedKeys="true" keyProperty="num">
		insert into gorder
		(userid,gCode,gName,gPrice,gSize,gColor,gAmount,gImage,orderinfo_num)
		values (#{userid},#{gCode},#{gName},#{gPrice},#{gSize},#{gColor},#{gAmount},#{gImage},#{orderinfo_num})
	</insert>
	
	<insert id="insertOrderInfo" parameterType="orderinfo" useGeneratedKeys="true" keyProperty="num">
		insert into orderinfo
		(userid,orderName,post,addr1,addr2,phone,payMethod,orderDay)
		values (#{userid},#{orderName},#{post},#{addr1},#{addr2},#{phone},#{payMethod},curdate())
	</insert> 

</mapper>